{% extends 'base.html' %}

{% block link%} 
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style1.css') }}">
{% endblock%}

{% block content %}

   
    <div class="lista-clientes">
        <div class="lista-clientes">
            <h5>Fecha: </h5>
            <input class="fecha" id="fecha" type="date" value="{{ fecha }}">            
        </div>
        <div class="lista-clientes">
            <h5 class="titulo-clientes">Cliente</h5>
            <select class="clientes" id="clientes">
                {% for cliente in clientes %}
                <option value="{{ cliente.id }}">{{cliente.nombre}}</option>
                {% endfor %}
            </select>            
        </div>
    </div>

    <div class="seccion-carrito">
        <h5 class="titulo-carrito">{% block title %}Carrito de Ventas{% endblock %}</h5>
        <ul class="carrito" id="carrito">
            <!-- Los elementos del carrito se agregarán aquí -->
        </ul>
        <div class="titulo-total">Total: <span id="total">0.00</span></div>
        <div class="botones-acciones">
            <button class="vaciar-carrito" id="vaciar-carrito">Vaciar Carrito</button>
            <select class="metodo-pago" id="metodo-pago">
                <option value="E">Efectivo</option>
                <option value="B">Billetera</option>
            </select>
            <button class="finalizar-venta" id="finalizar-venta">Finalizar Venta</button>
        </div>
    </div>



    <div class="tarjeta-articulos">
        <h5 class="titulo-articulos">Lista de Artículos</h5>
        <div>
            <form class="formulario-buscar" method="get">
                <input class="form-control form-control-sm me-2" type="search" placeholder="Buscar..." aria-label="Search" name="q">
                <button class="btn btn-outline-success btn-sm" type="submit">Buscar</button>
            </form>
        </div>
        <div>
            <ul id="lista-articulos">
                {% for articulo in articulos %}
                    {% if articulo.stock != 0 %}
                        <li  data-id="{{ articulo.id }}" data-nombre="{{ articulo.articulo }}">
                            <p class="articulo-mostrado">{{articulo.articulo}} - ({{ articulo.stock }})</p>
                            <input type="text" class="precio" value="{{ articulo.precio }}">
                            <input type="number" class="cantidad" value="1" min="1" max="{{ articulo.stock }}">
                            <button class="agregar">Agregar</button>
                        </li>
                    {% endif %}
                {% endfor %}
            </ul>
        </div>
    </div>




{% endblock %}
{% block scripts %}
    <script src="{{ url_for('static', filename='js/carrito.js') }}"></script>
{% endblock %}